.monthly-report-desktop, .monthly-report-actions  {
    display: none;
}

.monthly-report {
    text-align: center;
    th, td {
        border-style: groove;
        padding:1em;
    }
    margin-bottom: 10px !important;
}

$breakpoint-tablet: 768px;
@media (min-width: $breakpoint-tablet) {
    .monthly-report-mobile {
        display: none;
    }
    .monthly-report-desktop, .monthly-report-actions {
        display:block;
    }
    .notesInput {
        width:100%;
    }
}