<mat-card>
    <ng-container *ngIf="lastMonthReport">
        <mat-card-header>
            <mat-card-title>Your last month report</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <table class="monthly-report monthly-report-desktop">
                <tr>
                    <th>Month / Year</th>
                    <th>Field service time</th>
                    <th>Alt. service time</th>
                    <th>Publications</th>
                    <th>Videos</th>
                    <th>Return visits</th>
                    <th>Bible studies</th>
                </tr>
                <tr>
                    <td>{{ lastMonthReport.date }}</td>
                    <td>{{ lastMonthReport.serviceTime }}</td>
                    <td>{{ lastMonthReport.otherServiceTime }}</td>
                    <td>{{ lastMonthReport.publications }}</td>
                    <td>{{ lastMonthReport.videos }}</td>
                    <td>{{ lastMonthReport.returnVisits }}</td>

                    <td *ngIf="!isEditMode">
                        {{ lastMonthReport.bibleStudies }}
                    </td>
                    <td *ngIf="isEditMode">
                        <mat-form-field appearance="fill">
                            <input
                                matInput
                                type="number"
                                placeholder="Bible Studies"
                                [formControl]="bibleStudiesFormControl"
                            />
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>Notes</td>
                    <td colspan="6" *ngIf="!isEditMode">
                        {{ lastMonthReport.notes }}
                    </td>
                    <td *ngIf="isEditMode" colspan="6">
                        <mat-form-field appearance="fill" class="notesInput">
                            <input
                                matInput
                                placeholder="Add notes"
                                [formControl]="notesFormControl"
                            />
                        </mat-form-field>
                    </td>
                </tr>
            </table>

            <table class="monthly-report monthly-report-mobile">
                <tr>
                    <th>Month / Year</th>
                    <td>{{ lastMonthReport.date }}</td>
                </tr>
                <tr>
                    <th>Field service time</th>
                    <td>{{ lastMonthReport.serviceTime }}</td>
                </tr>
                <tr>
                    <th>Alt. service time</th>
                    <td>{{ lastMonthReport.otherServiceTime }}</td>
                </tr>
                <tr>
                    <th>Publications</th>
                    <td>{{ lastMonthReport.publications }}</td>
                </tr>
                <tr>
                    <th>Videos</th>
                    <td>{{ lastMonthReport.videos }}</td>
                </tr>
                <tr>
                    <th>Return visits</th>
                    <td>{{ lastMonthReport.returnVisits }}</td>
                </tr>
                <tr>
                    <th>Bible studies</th>
                    <td *ngIf="!isEditMode">
                        {{ lastMonthReport.bibleStudies }}
                    </td>
                </tr>
                <tr *ngIf="isEditMode">
                    <td colspan="2">
                        <mat-form-field appearance="fill">
                            <input
                                matInput
                                type="number"
                                placeholder="Bible Studies"
                                [formControl]="bibleStudiesFormControl"
                            />
                        </mat-form-field>
                    </td>
                </tr>

                <tr>
                    <td>Notes</td>
                    <td *ngIf="!isEditMode">
                        {{ lastMonthReport.notes }}
                    </td>
                </tr>
                <tr *ngIf="isEditMode">
                    <td colspan="2">
                        <mat-form-field appearance="fill" class="notesInput">
                            <input
                                matInput
                                placeholder="Add notes"
                                [formControl]="notesFormControl"
                            />
                        </mat-form-field>
                    </td>
                </tr>
            </table>
        </mat-card-content>
        <mat-card-actions class="monthly-report-actions" align="end">
            <button
                (click)="toggleEditMode()"
                *ngIf="!isEditMode"
                mat-raised-button
                color="primary"
            >
                <mat-icon>edit</mat-icon>Edit
            </button>
            <button
                (click)="updateMonthlyReportRequest()"
                *ngIf="isEditMode"
                mat-raised-button
                color="secondary"
            >
                Save
            </button>
            <button
                (click)="toggleEditMode()"
                *ngIf="isEditMode"
                mat-raised-button
                color="primary"
            >
                Cancel
            </button>
        </mat-card-actions>
    </ng-container>
    <ng-container *ngIf="!lastMonthReport">
        <mat-card-header>
            <mat-card-title
                >Your last month report is not ready!!</mat-card-title
            >
        </mat-card-header>
        <mat-card-content>
            <p>
                Do not forget to generate your last month report and send it to
                your group overseer.
            </p>
        </mat-card-content>
        <mat-card-actions align="end">
            <button
                (click)="submitGenerateMonthlyReportRequest()"
                type="button"
                mat-raised-button
                color="primary"
            >
                Generate Last month report
            </button>
        </mat-card-actions>
    </ng-container>
</mat-card>
