<form [formGroup]="loginForm" (ngSubmit)="loginSubmit()">
    <mat-form-field class="ma-login-form-input" appearance="outline">
        <mat-label>E-mail</mat-label>
        <input
            formControlName="username"
            type="email"
            matInput
            placeholder="E-mail"
        />
    </mat-form-field>
    <mat-form-field class="ma-login-form-input" appearance="outline">
        <mat-label>Password</mat-label>
        <input
            formControlName="password"
            type="password"
            matInput
            placeholder="Password"
        />
    </mat-form-field>
    <div class="ma-register-form-buttons">
        <button [disabled]="!loginForm.valid" mat-raised-button color="primary">
            Log In
        </button>
        <button mat-button>Clean fields</button>
    </div>
</form>
