<div *ngIf="!isLoading" class="Report_form_container">
    <mat-card class="ma-report-form">
        <mat-card-header>
            <mat-card-title *ngIf="!currentTransportationReport"
                >New transportation report</mat-card-title
            >
            <mat-card-title *ngIf="currentTransportationReport"
                >Transportation service report from
                {{
                    currentTransportationReport.date | date : "dd/MM/yyyy"
                }}</mat-card-title
            >
        </mat-card-header>
        <mat-card-content>
            <ma-transportation-form
                [transportationReport]="currentTransportationReport"
                (onReportSubmit)="handleSubmit($event)"
                (onReportDelete)="deleteTransportationReport()"
            ></ma-transportation-form>
        </mat-card-content>
    </mat-card>
</div>
