.ma-notification {
  transition: all ease-out 1s;
  transform: translateY(-100%);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  border-radius: 4px;
  padding: 1.25rem 2.5rem 1.25rem 1.5rem;
  &.is-visible-notification {
    transform: translateY(0);
  }
}
.ma-notification-title {
    font-size: 2rem;
    word-break: break-word;
    text-align: center;
}
.is-success {
    background-color: #00d1b2;
}
.is-warning {
    background-color: #ffe08a;
}
.is-danger {
    background-color: #f14668;
}
.ma-notification-paragraph {
    text-align: center;
}